
:host {

  > div {
    margin: 1rem;
  }

  .machine-name {
    margin-right: 1rem;
    line-height: 2rem;
    flex: 0 1 8rem;
  }

  .config-uri-edit {
      flex: 1;
  }

  .fetch-button button {
    padding-right: 1rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }

  ::ng-deep button.bx--overflow-menu {
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin-top: 1.5rem;
  }

  .hidden {
    position: absolute !important;
    left: -99999px;
  }

  /*
  ::ng-deep  .CodeMirror-gutters {
    margin-left: 2rem;
  }
  ::ng-deep .CodeMirror-line {
    margin-left: 2.5rem !important;
  }

  ::ng-deep .CodeMirror-cursors {
    margin-left: 2.5rem !important;
  }
*/

}
