
:host {

  > div {
    margin: 1rem;
  }

  .machine-name {
    margin-right: 1rem;
    line-height: 2rem;
    flex: 0 0 8rem;
  }

  .config-uri-edit {
    flex: 1;
  }

   .http-action {
     margin-top: 1.5rem;
     color: #bbb;
     cursor: pointer;
     padding: 0.5rem;
     border: solid 1px #4c4c4c;
     border-bottom: solid 1px #888;
   }

  .fetch-button button {
    padding-right: 1rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }

  ::ng-deep button.bx--overflow-menu {
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin-top: 1.5rem;
  }

  .fetch-button.spacer {
      flex: 0 0 2rem;
  }

}
