

.subsections {

   ul li {
      height: 3rem;
      button {
          width: 15rem;
      }
   }



}
.main  {
  display: flex;
  flex-direction: row;

  > .form {
     flex-grow: 1;
     .subsection-name {

       position: relative;

       i {
         margin-left: 1rem;
         margin-right:  .5rem;
       }
       input {
         outline: none;
         border: none;
         background: transparent;
         color: white;
         margin: .5rem;
         margin-left: 0;
         font-size: 15px;
         border-radius: 0;
       }

       .add-remove-subsection {
         top: 0;
         right: 0;
         position: absolute;

         button {
           padding: 0 1rem;
         }
       }

     }
  }

}
