

<div class="main">

  <div class="subsections" *ngIf="section">
      <ul>
          <li *ngFor="let subsection of section.subSections;">
             <button (click)="currentSubsection = subsection"
               [ibmButton]="(currentSubsection?.name === subsection.name)?'primary':'secondary'" >
               {{ subsection.name }}
             </button>
          </li>
      </ul>

  </div>

  <section class="form" >
    <div class="subsection-name">
      <ng-container *ngIf="currentSubsection">
        <i class="fa fa-solid fa-pencil"></i><input type="text" [(ngModel)]="currentSubsection.name"  />
      </ng-container>

      <div class="add-remove-subsection">
          <button [ibmButton]="'danger'" class="droppable-remove" size="sm" (click)="removeSubsection()">Remove</button>
          <button [ibmButton]="'primary'" size="sm" (click)="addSubsection()"><i class="fa-solid fa-plus"></i>Add Subsection</button>
      </div>
    </div>
    <app-design-form *ngIf="currentSubsection" [form]="currentSubsection.form"></app-design-form>
  </section>

</div>
