<div >
  <header >
    <ibm-header name="Tool management Interface" brand="Configuration">
      <ibm-header-global>
        <ibm-header-action title="action" (click)="manageProjects()">
          <i class="fas fa-solid fa-sd-card" style="color: white; font-size: 18px"></i>
        </ibm-header-action>
      </ibm-header-global>
    </ibm-header>
  </header>
  <main>
    <ng-container  *ngIf="init.$applicationLoaded | async">
      <router-outlet></router-outlet>
    </ng-container>


  </main>
  <footer>
  </footer>
  <app-notification></app-notification>
</div>
