
<div [ngSwitch]="element.display" (click)="setCurrentFormElement()" *ngIf="element?.toolType" class="tool">


    <label><input type="text"  [(ngModel)]="element.label"></label>
  <div class="help" *ngIf="element?.mdHelpText?.length">
    <i class="fa fa-regular fa-question-circle" (click)="showHelp()" ></i></div>
</div>


<div [ngSwitch]="element.display" (click)="setCurrentFormElement()" *ngIf="element?.display" class="form" >

  <div class="help" *ngIf="element?.mdHelpText?.length">
    <i class="fa fa-regular fa-question-circle" (click)="showHelp()" ></i></div>
  <ng-container *ngSwitchCase="'checkbox'">
      <ibm-checkbox
        [(checked)]="element.value" >
        {{ element.label }}
      </ibm-checkbox>
  </ng-container>

  <ng-container *ngSwitchCase="'text'">
    <ibm-label>
      {{element.label }}
      <input
        ibmText [size]="'sm'" [invalid]="!configsBound.length"
         [ngModel]="element.value | toText"
          (ngModelChange)="setTextValue(element, $event)">
    </ibm-label>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'" >
    <ibm-label>      {{element.label}}
    <textarea   [(ngModel)]="element.value" class="bx--text-area--invalid"></textarea>
    </ibm-label>
  </ng-container>

  <ng-container *ngSwitchCase="'number'">
    <ibm-number  [invalid]="!configsBound.length"
                 [label]="element.label"
                 [ngModel]="element.value"
                 (ngModelChange)="setNumberValue(element, $event)"
                 [size]="'sm'">

    </ibm-number>
  </ng-container>

  <!-- <ng-container *ngSwitchCase="'dropdown'">
    <ibm-label>
      dropdown {{ element.displayOptions | json }}
    </ibm-label>
  </ng-container> -->
  <ibm-dropdown  [invalid]="!configsBound.length" invalidText="" *ngSwitchCase="'dropdown'"
                [label]="element.label"  [dropUp]="false" [placeholder]="dropdownItems | dropdownDisplay: element.value"
                [size]="'sm'" (selected)="setDropdownValue(element, $event)">
    <ibm-dropdown-list  [items]="dropdownItems"></ibm-dropdown-list>
  </ibm-dropdown>

  <ibm-date-picker  [invalid]="!configsBound.length" *ngSwitchCase="'datepicker'" [size]="'sm'" [label]="element.label"
    [ngModel]="element.value" (ngModelChange)="setDate(element, $event)">
  </ibm-date-picker>

  <ibm-timepicker  [invalid]="!configsBound.length" *ngSwitchCase="'timepicker'" [size]="'sm'" [label]="element.label"
                    [ngModel]="element.value | toDate" (ngModelChange)="setTime(element, $event)">
  </ibm-timepicker>

  <ng-container *ngSwitchDefault>
      <p>
        Type: {{ element.type }},
        Key: {{ element.key }},
        Value: {{ element.value }},
        Display: {{ element.display }}
      </p>
  </ng-container>

</div>


