
<div [ngSwitch]="element.display" (click)="setCurrentFormElement()" *ngIf="element?.toolType" class="tool">


    <label><input type="text"  [(ngModel)]="element.label"></label>
  <div class="help" *ngIf="element?.mdHelpText?.length">
    <i class="fa fa-regular fa-question-circle" (click)="showHelp()" ></i></div>
</div>
 {{ element.key }}
<div [ngSwitch]="element.display" (click)="setCurrentFormElement()" *ngIf="element?.display" class="form" >

  <div class="help" *ngIf="element?.mdHelpText?.length">
    <i class="fa fa-regular fa-question-circle" (click)="showHelp()" ></i></div>

  <ng-container *ngSwitchCase="'checkbox'">
      <ibm-checkbox
        [(checked)]="element.value" >
        {{ element.label }}
      </ibm-checkbox>
  </ng-container>

  <ng-container *ngSwitchCase="'text'">
    <ibm-label>
      {{element.label }}
      <input
        ibmText [size]="'sm'"
          [(ngModel)]="element.value">
    </ibm-label>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'">
    <ibm-label>      {{element.label }}
    <textarea [(ngModel)]="element.value" ></textarea>
    </ibm-label>
  </ng-container>

  <ng-container *ngSwitchCase="'number'">
    <ibm-number [label]="element.label" [(ngModel)]="element.value" [size]="'sm'">

    </ibm-number>
  </ng-container>

  <ng-container *ngSwitchCase="'dropdown'">
    <ibm-label>
      dropdown {{ element.displayOptions | json }}
    </ibm-label>
  </ng-container>


  <ibm-dropdown  *ngSwitchCase="'dropdown'">
                [label]="element.label"
                [size]="'sm'" (selected)="setDropdownValue($event)">
    <ibm-dropdown-list [items]="dropdownItems"></ibm-dropdown-list>
  </ibm-dropdown>

  <ng-container *ngSwitchDefault>
      <p>
        Type: {{ element.type }},
        Key: {{ element.key }},
        Value: {{ element.value }},
        Display: {{ element.display }}
      </p>
  </ng-container>

</div>


