
.main {

  display: flex;
  flex-direction: row;


  .sidebar {
     flex: 0.3;
  }

  .design-pad {
      flex: 0.7;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      padding: 1rem;
      background: #3f3f3f;
      position: relative;

      .add-remove-section {
          top: 1.5rem;
          right: 2rem;
          position: absolute;

          button {
            padding: 0 1rem;
          }
      }
  }

   ::ng-deep .bx--tab-content {
     padding-left: 0;
   }

  .json-view {
     margin-bottom: 1rem;
     margin-right: -1rem; /* remove accordion margins */
     margin-left: -1rem;
  }

  .bx--accordion__content { padding:0; padding-left: 1rem; }

  div.plus {
    padding: .5rem;
    padding-top: 0;
    margin-left: calc(50% - 1rem);
    font-size:  17px;
    cursor: pointer;
  }


}
