
.main {

  display: flex;
  flex-direction: row;


  .sidebar {
     flex: 0.3;
  }

  .design-pad {
      flex: 0.7;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      padding: 1rem;
      background: #3f3f3f;
  }

   ::ng-deep .bx--tab-content {
     padding-left: 0;
   }

  .json-view {
     margin-bottom: 1rem;
  }

  .bx--accordion__content { padding-right:  1rem; }



}
