<div class="main">
  <ul data-accordion class="bx--accordion sidebar">
    <li data-accordion-item class="bx--accordion__item" [ngClass]="{ 'bx--accordion__item--active': sideDisplay.formElementEditor }">
      <button class="bx--accordion__heading" aria-expanded="false" aria-controls="pane2" (click)="sideDisplay.formElementEditor = !sideDisplay?.formElementEditor">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
             xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
        <div class="bx--accordion__title">Form Element Editor</div>
      </button>
      <div  class="bx--accordion__content">
          <div class="form-element-editor">
            <app-form-element-editor></app-form-element-editor>
          </div>
      </div>

    </li>
    <li data-accordion-item class="bx--accordion__item" [ngClass]="{ 'bx--accordion__item--active': sideDisplay?.tree }">
      <button class="bx--accordion__heading" aria-expanded="false" aria-controls="pane1"  (click)="sideDisplay.tree = !sideDisplay?.tree">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
             xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
        <div class="bx--accordion__title">Configuration files</div>
      </button>
      <div class="bx--accordion__content">
          <div class="json-view" *ngFor="let configurationFile of configurationFiles;">
            <app-configuration-file-editor [config]="configurationFile"></app-configuration-file-editor>
          </div>
          <div class="plus" >
            <i (click)="addConfigurationFile()" class="fa-solid fa-circle-plus"></i>
          </div>
      </div>
    </li>

    <li data-accordion-item class="bx--accordion__item" [ngClass]="{ 'bx--accordion__item--active': sideDisplay?.outputModules }">
      <button class="bx--accordion__heading" aria-expanded="false" aria-controls="pane1"  (click)="sideDisplay.outputModules = !sideDisplay?.outputModules">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
             xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
        <div class="bx--accordion__title">Output Modules</div>
      </button>
      <div class="bx--accordion__content">
        <div class="json-view" *ngFor="let outputModule of outputModules;">
            <app-output-module [module]="outputModule"></app-output-module>
        </div>
        <div class="plus" >
          <i (click)="addOutputModule()" class="fa-solid fa-circle-plus"></i>
        </div>
      </div>
    </li>

  </ul>




  <div class="design-pad" >

    <div class="toolbar" *ngIf="showToolbar"><app-toolbar></app-toolbar></div>

    <div style="display: flex;">
      <div data-tabs class="bx--tabs bx--tabs--container tabs" (mousemove)="showManageButtons($event)" (mouseleave)="hideManageButtons()">

        <ul class="bx--tabs__nav bx--tabs__nav--hidden"   >
          <li class="bx--tabs__nav-item" [ngClass]="{ 'bx--tabs__nav-item--selected': section === currentSection }"   *ngFor="let section of sections;" (click)="onSectionSelect(section)" >

            <input class="bx--tabs__nav-link editable" [(ngModel)]="section.name" *ngIf="section === currentSection" (ngModelChange)="updateSectionName()" >
            <a class="bx--tabs__nav-link" href="javascript:void(0)" *ngIf="section !== currentSection">{{ section.name }}</a>
          </li>
        </ul>
      </div>

      <div class="add-remove-section" *ngIf="manageButtonsShown || true " (mouseenter)="showManageButtons(null)"  style="display: flex; height: 2rem;">
        <button [ibmButton]="'danger'" class="droppable-remove" size="sm" *ngIf="sections.length > 1" (click)="removeCurrentSection()">Remove</button>
        <button [ibmButton]="'primary'" size="sm" (click)="addSection()"><i class="fa-solid fa-plus"></i> &nbsp; Add</button>
        <button [ibmButton]="'primary'" size="sm" (click)="toggleToolbar()"><i class="fa-solid fa-screwdriver-wrench"></i> </button>
      </div>

    </div>

      <app-design-section [section]="currentSection" *ngIf="currentSection"></app-design-section>



  </div>


  <div class="absolute-containers">
       <app-markdown-viewer></app-markdown-viewer>
  </div>


</div>


