

:host {

   .key-value {
       font-weight: bold;
        flex: 1;
       line-height: 2rem;
       span  {
          font-weight: normal;
       }
   }

   textarea {
      min-height: auto;
      padding-left: .5rem;
   }


   button.highlight {
       max-height: 2rem;
   }

}
